<%- include("super-common-header.ejs", {title:recipe.name}) %>

    <p></p>
    <a href="/recipes" class="btn btn-primary">Back to browse recipes page</a>
    <p></p>

    <h1><%- recipe.title %></h1>